In [38]:
import pandas as pd
import requests

In [42]:
headers = {"X-API-Key": "LFO5p_tz6ZR-zO80_hjXyG-3iDs3LAzdyLASd_ve3m8"}

In [43]:
# Premiere League ID is 9
response = requests.get("https://fbrapi.com/league-seasons", params={"league_id": 9}, headers=headers)
data = response.json()
records = data['data']
pl_seasons = pd.json_normalize(records)
pl_seasons

     season_id  ... top_scorer.goals_scored
0    2025-2026  ...                     9.0
1    2024-2025  ...                    29.0
2    2023-2024  ...                    27.0
3    2022-2023  ...                    36.0
4    2021-2022  ...                    23.0
..         ...  ...                     ...
122  1892-1893  ...                     NaN
123  1891-1892  ...                     NaN
124  1890-1891  ...                     NaN
125  1889-1890  ...                     NaN
126  1888-1889  ...                     NaN

[127 rows x 6 columns]

In [ ]:
response = requests.get("https://fbrapi.com/matches", params={"league_id": 9}, headers=headers)
data = response.json()
records = data['data']
pl_matches = pd.json_normalize(records)

In [53]:
pl_matches['date'] = pd.to_datetime(pl_matches['date'])
pl_matches = pl_matches[pl_matches['date'] <= pd.Timestamp.now()].sort_values(by='date', ascending=False)
pl_matches

    match_id       date  ... attendance            referee
69  8c0ee359 2025-10-05  ...     17,028     Darren England
68  e33f1657 2025-10-05  ...     52,189       Peter Bankes
67  db870461 2025-10-05  ...     40,308     Andrew Kitchen
66  88e53add 2025-10-05  ...     51,770  Michael Salisbury
65  1314f9fd 2025-10-05  ...     29,504     Jarred Gillett
..       ...        ...  ...        ...                ...
2   e1058522 2025-08-16  ...     46,233       Robert Jones
1   bbdf4739 2025-08-16  ...     42,526       Craig Pawson
4   d41bb8b3 2025-08-16  ...     61,077     Michael Oliver
5   8613020d 2025-08-16  ...     31,456     Jarred Gillett
0   a071faa8 2025-08-15  ...     60,315     Anthony Taylor

[70 rows x 13 columns]

In [67]:
tms = pl_matches['home'].unique()
ids = pl_matches['home_team_id'].unique()

teams = {}
for i in range(len(tms)):
    teams[tms[i]] = ids[i]
print(teams)

{'Brentford': 'cd051869', 'Newcastle Utd': 'b2b47a98', 'Aston Villa': '8602292d', 'Everton': 'd3fd31cc', 'Wolves': '8cec06e1', 'Chelsea': 'cff3d9bb', 'Manchester Utd': '19538871', 'Arsenal': '18bb7c10', 'Leeds United': '5bfb9659', 'Bournemouth': '4ba7cbea', 'Tottenham': '361ca564', 'Crystal Palace': '47c64c55', 'Manchester City': 'b8fd03ef', "Nott'ham Forest": 'e4a775cb', 'Sunderland': '8ef52968', 'Fulham': 'fd962109', 'West Ham': '7c21e445', 'Burnley': '943e8050', 'Brighton': 'd07537b9', 'Liverpool': '822bd0ba'}

In [88]:
import time
import random

pl_matches_2 = pd.DataFrame()
for team in teams.keys():
    response = requests.get("https://fbrapi.com/teams", params={"team_id": teams[team]}, headers=headers)
    data = response.json()
    records = data['team_schedule']['data']
    df = pd.json_normalize(records)
    df['home_team'] = team
    df['home_team_id'] = teams[team]
    pl_matches_2 = pd.concat([pl_matches_2, df])
    time.sleep(random.uniform(1, 3))

In [89]:
pl_matches_2['date'] = pd.to_datetime(pl_matches_2['date'])
pl_matches_2 = pl_matches_2[pl_matches_2['date'] <= pd.Timestamp.now()].sort_values(by='date', ascending=False)
pl_matches_2

         date   time  match_id  ...            referee       home_team home_team_id
9  2025-10-05  14:00  db870461  ...     Andrew Kitchen     Aston Villa     8602292d
11 2025-10-05  14:00  88e53add  ...  Michael Salisbury  Crystal Palace     47c64c55
8  2025-10-05  14:00  1314f9fd  ...     Jarred Gillett        Brighton     d07537b9
8  2025-10-05  14:00  88e53add  ...  Michael Salisbury         Everton     d3fd31cc
8  2025-10-05  14:00  db870461  ...     Andrew Kitchen         Burnley     943e8050
..        ...    ...       ...  ...                ...             ...          ...
0  2025-08-15  20:00  a071faa8  ...     Anthony Taylor     Bournemouth     4ba7cbea
1  2025-08-15  20:00  a071faa8  ...     Anthony Taylor       Liverpool     822bd0ba
0  2025-08-13  21:00  7eef879c  ...      João Pinheiro       Tottenham     361ca564
0  2025-08-10  15:00  096e63eb  ...     Chris Kavanagh       Liverpool     822bd0ba
0  2025-08-10  15:00  096e63eb  ...     Chris Kavanagh  Crystal Palace     47c64c55

[188 rows x 17 columns]